#right {
    height: 100%;
    width: 640px;
    float: right;
    display: flex;
    flex-direction: column;
}

#right h3 {
    color: #374957;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 4.32px;
    margin-top: 150px;
    margin-bottom: 60px;
}

#right .sign_up {
    display: flex;
    width: 502px;
    height: 52px;
    /* padding: 10px 0px 10px 148px; */
    /* align-items: center; */
    gap: 16px;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #326e20;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    letter-spacing: 0.36px;
    color: rgba(26, 23, 23, 0.38);
}


#right .text-field {
    display: flex;
    flex-direction: column;
}

#right .text-field mat-form-field {
    width: 502px;
    margin-bottom: 10px;
}

#right .text-field mat-label {
    font-family: "Inter", sans-serif;
}
#right .text-field input {
    font-family: "Inter", sans-serif;
}

#right .login_btn {
    display: flex;
    width: 502px;
    height: 48px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #279574;
    border: 0px solid white;
    color: #ecf0f9;
    font-size: 24px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    letter-spacing: 0.36px;
}

#right .forget {
    width: 502px;
    color: rgba(0, 0, 0, 0.12);
    text-align: center;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#right .forget a {
    text-decoration: none;
    color: var(--color-primary);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}